body {
    font-family: 'Lato', sans-serif;
}

table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
}

td, th {
    font-size: 1em;
    border: 3px solid #0066FF;
    padding: 3px 7px 2px 7px;
}

th {
    font-size = 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;

    color: #0066FF;
    background-color: #FFFFFF;
}

tr.alt td {
    color: #000000;
    background-color: #EAF2D3;
}
